@import 'https://use.fontawesome.com/releases/v5.0.10/css/all.css'
@import '../src/lineaGrafica'
@import '../src/lineaGrafica/cajas'
@import '../src/lineaGrafica/paleta' 
@import '../src/lineaGrafica/fuentes'