.banner
 width: 75vw
 height 34vw
 background: url(https://images.pexels.com/photos/210854/pexels-photo-210854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
 background-size: cover 
.info
 width: 45vw
.contacto
 height: 9vw
 h2 
  text-align: center

